$clr-theme:#0f1a29;
$clr-orange:#ca902c;
$clr-pink:#ea2365;
$clr-default:#00ca9d;
$clr-base: #5f5d70;
$clr-base-dark:#656d78;
$clr-base-grey:#e6e9ed;
$form-input:#e6e9ed;
$clr-blk:#000;
$bs-btn:#ea2365;
$bs-btn-hover:#fb256c;
$bs-radio-label:#434a54;
$font-regular:400;
$font-light:300;
$font-medium:500;
$font-bold:600;
$fnt1:'Montserrat';
$fnt2:'Oswald';

/* breakpoints */

$mobile-breakpoint: 768px;
$desktop-breakpoint: 768px;
.clearfix {
    clear: both;
}