@charset "UTF-8";
@font-face {
    font-family: "vep";
    src: url("../fonts/vep.eot");
    src: url("../fonts/vep.eot?#iefix") format("embedded-opentype"), url("../fonts/vep.woff") format("woff"), url("../fonts/vep.ttf") format("truetype"), url("../fonts/vep.svg#vep") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "vep" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "vep" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clock-o:before {
    content: "\61";
}

.icon-attachment:before {
    content: "\62";
}

.icon-map-pin-streamline:before {
    content: "\63";
}

.icon-phone-call:before {
    content: "\64";
}

.icon-mail:before {
    content: "\65";
}

.icon-facebook:before {
    content: "\66";
}

.icon-twitter:before {
    content: "\67";
}

.icon-instagram:before {
    content: "\68";
}

.icon-conga:before {
    content: "\69";
}

.icon-fiddle:before {
    content: "\6a";
}

.icon-french-horn:before {
    content: "\6b";
}

.icon-guitar:before {
    content: "\6c";
}

.icon-open-book-with-text-lines:before {
    content: "\6e";
}

.icon-piano:before {
    content: "\6f";
}

.icon-poet:before {
    content: "\70";
}

.icon-poetry:before {
    content: "\71";
}

.icon-quill-ink:before {
    content: "\72";
}

.icon-sitar:before {
    content: "\73";
}

.icon-accordion:before {
    content: "\6d";
}

.icon-drum-set:before {
    content: "\74";
}

.icon-cancel-circled:before {
    content: "\75";
}

.icon-volume-off:before {
    content: "\76";
}

.icon-volume-up:before {
    content: "\77";
}

.icon-pencil-square-o:before {
    content: "\78";
}

.icon-trash:before {
    content: "\79";
}

.icon-plus-circled:before {
    content: "\7a";
}

.icon-check-square-o:before {
    content: "\41";
}

.icon-group:before {
    content: "\42";
}

.icon-music:before {
    content: "\43";
}

.icon-right-arrow:before {
    content: "\44";
}