body {
    font-family: $fnt1;
    font-size: 14px;
    color: $clr-theme;
}

a {
    transition: 0.2s;
    transition: all 0.2s ease;
    color: $clr-theme;
}

img {
    max-width: 100%;
}

video {
    width: 100%;
    display: block;
}

.cm-not-in-page {
    left: -99999px;
    position: absolute;
    top: -99999px;
}

.cm-line-break {
    display: block;
}

.cm-btn {
    color: $clr-orange;
    border: solid 1px $clr-orange;
    background-color: $clr-theme;
    display: inline-block;
    padding: 12px 24px;
    min-width: 230px;
    font-weight: $font-medium;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    &:hover {
        background-color: #fff;
        color: $clr-theme;
    }
    &.bigBtn {
        border-width: 2px;
        padding: 14px 24px;
        min-width: 275px;
        font-size: 16px;
    }
}

.cm-heading {
    font-weight: $font-medium;
    font-size: 50px;
    line-height: 110%;
    margin-bottom: 35px;
    &.small {
        font-size: 34px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &.light {
        font-weight: $font-light;
    }
    &.upper {
        text-transform: uppercase;
    }
}

.cm-heading2 {
    font-size: 35px;
    line-height: 110%;
    font-weight: $font-regular;
    margin-bottom: 25px;
}

.cm-rightContent {
    text-align: right;
    padding-right: 8%;
}

.cm-dispTbl {
    display: table;
    height: 100%;
    width: 100%;
    .cm-dispTblCell {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }
    &.two-column {
        .cm-dispTblCell {
            width: 50%;
        }
    }
}

.cm-dot {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cm-para {
    font-weight: $font-medium;
    line-height: 150%;
    margin-bottom: 20px;
    &.gold {
        color: $clr-orange;
        font-size: 15px;
    }
    &.bigPara {
        font-size: 20px;
        // font-style:italic;
        //font-weight:$font-bold;
        margin-bottom: 38px;
    }
    &.highlight {
        font-size: 30px;
        line-height: 170%;
    }
}

.cm-clear {
    clear: both;
}

.cm-error {
    color: #e31c1c;
    text-transform: none;
}

.cm-hidden {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.cm-secOverlay {
    position: relative;
    // z-index:-1;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(16, 27, 40, 0.6);
        // z-index:-1;
    }
    .up {
        position: relative;
        z-index: 1;
    }
}

.cm-link {
    color: $clr-orange;
    text-transform: uppercase;
}

.cm-gold-text {
    color: $clr-orange;
}

.cm-right {
    float: right;
}

.cm-text {
    border: none;
    padding: 6px 7px;
    border-bottom: solid 2px $clr-theme;
    border-radius: initial;
    box-shadow: initial;
    font-size: 18px;
    height: auto;
    &:focus {
        @extend .cm-text;
    }
}

.asterisk {
    font-size: 16px;
    color: $clr-orange;
    top: -2px;
}

.small-container {
    max-width: 975px;
}

label.error {
    font-size: 12px;
    color: #f72020;
    font-style: normal !important;
}

.contact-error {
    margin-top: 15px;
    display: none;
}

.cm-mT5 {
    margin-top: 5px;
}

.cm-mT10 {
    margin-top: 10px;
}

.cm-mT15 {
    margin-top: 15px;
}

.cm-mT20 {
    margin-top: 20px;
}

.cm-mT25 {
    margin-top: 25px;
}

.cm-mT30 {
    margin-top: 30px;
}

.cm-mB5 {
    margin-bottom: 5px;
}

.shift-up {
    margin-top: -10%;
}

.cm-content {
    font-family: $fnt1;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
}

.cm-content-2 {
    font-family: $fnt1;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.cm-big-heading {
    font-size: 30px;
    line-height: 30px;
}

@media screen and (max-width:768px) {
    .cm-big-heading {
        font-size: 18px;
        line-height: 18px;
    }
}