.bs-banner {
    //background-image: linear-gradient(#11ade5, #0edaaa);
    background-image: linear-gradient(#0595c9, #06b48b);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    .content {
        width: 430px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        height: 430px;
        margin-top: 100px;
        .logo-box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .chakri-animation-01,
            .chakri-animation-02,
            .chakri-animation-03 {
                position: absolute;
            }
            .chakri-animation-01 {
                top: -150px;
                // top: -155%;
                left: -60%;
                width: 35%;
                -webkit-animation: rotation 25s infinite linear;
                animation: rotation 25s infinite linear;
            }
            .chakri-animation-02 {
                top: 10%;
                left: -52%;
                width: 18%;
                -webkit-animation: rotation 25s infinite linear;
                animation: rotation 25s infinite linear;
            }
            .chakri-animation-03 {
                top: -75%;
                left: -25%;
                width: 18%;
                -webkit-animation: rotation 25s infinite linear;
                animation: rotation 25s infinite linear;
            }
            .gwf-logo {
                position: absolute;
                top: -120px;
                // top: -110%;
                left: 38%;
            }
            .logo-line {
                position: absolute;
                top: -35px;
                // top: -35%;
                left: 20%;
                font-size: 17px;
                line-height: 140%;
                color: #fff;
                text-align: center;
                width: 285px;
            }
        }
        .logo {
            width: 200%;
            max-width: 200%;
        }
        .tagLine{
            h3{
                color:#fff;
                white-space:nowrap; 
                font-size:24px;
                line-height:150%;
            }
            p, address{
                font-size:16px;
                line-height:150%;
                color:#fff;
                white-space:nowrap; 
            }
            .entry-line{
                margin-top:15px; 
            }
        }
        .pointers {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 200%;
            /*width: 170%;*/
            margin-top: 50px;
            display:none;
            .pointer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 75px;
                .line1 {
                    font-family: $fnt1;
                    font-size: 70px;
                    line-height: 75px;
                    font-weight: 400;
                    color: #fff;
                    display: inline-block;
                    text-shadow: 1px 1px #a1a0a0;
                }
                .line2 {
                    margin-top: 10px;
                    font-family: $fnt1;
                    font-size: 18px;
                    line-height: 32px;
                    font-weight: 600;
                    color: #fff;
                    text-transform: uppercase;
                    display: inline-block;
                    text-shadow: 1px 1px #a1a0a0;
                }
            }
        }
        .banner-btns {
            /* width: 500px;*/
            width: 250px;
            display: flex;
            align-items: center;
            margin-top:10px;
            .banner-btn {
                background-color: $bs-btn; //#594fdc
                width: 220px;
                padding: 15px 0;
                font-size: 16px;
                line-height: 21px;
                font-weight: 500;
                color: #fff;
                font-family: $fnt1;
                border-radius: 50px;
                text-transform: uppercase;
                margin: 0 20px;
                text-align: center;
                letter-spacing: 1px;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
                &.type-grey {
                    background-color: #fff;
                    color: $bs-btn;
                }
            }
        }
    }
    .goto-bottom {
        position: absolute;
        bottom: 10%;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #fff;
        // font: normal 400 20px/1 'Josefin Sans', sans-serif;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s;
        &:hover {
            opacity: .5;
        }
        span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 30px;
            height: 50px;
            margin-left: -15px;
            border: 2px solid #fff;
            border-radius: 50px;
            box-sizing: border-box;
            &::before {
                position: absolute;
                top: 10px;
                left: 50%;
                content: '';
                width: 6px;
                height: 6px;
                margin-left: -3px;
                background-color: #fff;
                border-radius: 100%;
                -webkit-animation: sdb10 2s infinite;
                animation: sdb10 2s infinite;
                box-sizing: border-box;
            }
        }
    }
    // .sponsor {
    //     position: absolute;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     flex-direction: column;
    //     img {
    //         height: 70px;
    //         display: inline-block;
    //     }
    //     &.first {
    //         bottom: 15px;
    //         right: 300px;
    //     }
    //     &.second {
    //         bottom: 15px;
    //         right: 180px;
    //     }
    //     &.third {
    //         bottom: 15px;
    //         right: 15px;
    //     }
    //     .heading {
    //         color: #fff;
    //         font-size: 12px;
    //         line-height: 12px;
    //         display: inline-block;
    //         margin-bottom: 10px;
    //     }
    // }
    // &:after {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     content: '';
    //     width: 100%;
    //     height: 80%;
    //     background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
    //     background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
    // }
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width:767px) {
    .bs-banner {
        .content {
            width: 240px;
            height: 240px;
            .logo {
                width: 100%;
                max-width: 100%;
                top: -60px;
            }
            .logo-box {
                .chakri-animation-01 {
                    top: -128%;
                    left: -7%;
                    width: 15%;
                }
                .chakri-animation-02 {
                    top: 8%;
                    left: -10%;
                    width: 10%;
                }
                .chakri-animation-03 {
                    top: -70%;
                    left: 10%;
                    width: 10%;
                }
                .gwf-logo {
                    top: -380%;
                    left: 30%;
                    width: 35%;
                }
                .logo-line {
                    top: -210%;
                    left: 8%;
                    font-size: 12px;
                    line-height: 140%;
                    width: 80%;
                }
            }
            .tagLine{
                h3{font-size:16px;white-space: normal;}
                address, p{font-size:10px;}
            }
            .pointers {
                width: 100%;
                margin-top: 55px;
                .pointer {
                    .line1 {
                        font-size: 34px;
                        line-height: 34px;
                    }
                    .line2 {
                        margin-top: 5px;
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
            }
            .banner-btns {
                width: 100%;
                flex-direction: column;
                .banner-btn {
                    margin-top: 15px;
                }
            }
        }
        .goto-bottom {
            bottom: 15%;
        }
        // .sponsor {
        //     img {
        //         height: 55px;
        //         display: inline-block;
        //     }
        //     &.first {
        //         bottom: -1%;
        //         transform: translate(0, -50%);
        //         left: 12%;
        //         right: auto;
        //     }
        //     &.second {
        //         bottom: -1%;
        //         transform: translate(0, -50%);
        //         left: 40%;
        //         right: auto;
        //     }
        //     &.third {
        //         bottom: -1%;
        //         transform: translate(0, -50%);
        //         left: 62%;
        //         right: auto;
        //     }
        //     .heading {
        //         font-size: 8px;
        //         line-height: 8px;
        //         display: inline-block;
        //         margin-bottom: 5px;
        //     }
        // }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .bs-banner {
        .content {
            .logo-box {
                .logo {
                    width: 100%;
                    max-width: 100%;
                }
                .chakri-animation-01 {
                    top: -117%;
                    left: -10%;
                    width: 15%;
                }
                .chakri-animation-02 {
                    top: 8%;
                    left: -10%;
                    width: 10%;
                }
                .chakri-animation-03 {
                    top: -90%;
                    left: 7%;
                    width: 10%;
                }
                .gwf-logo {
                    top: -380%;
                    left: 30%;
                    width: 35%;
                }
                .logo-line {
                    top: -210%;
                    left: 8%;
                    font-size: 16px;
                    line-height: 140%;
                    width: 80%;
                }
            }
            .tagLine{
                h3{font-size:18px;white-space: normal;}
                address, p{font-size:12px;}
            }
            .pointers {
                width: 500px;
            }
            // .sponsor.first {
            //     bottom: 15%;
            //     right: auto;
            //     left: 14%;
            // }
            // .sponsor.second {
            //     bottom: 15%;
            //     right: auto;
            //     left: 44%;
            // }
            // .sponsor.third {
            //     bottom: 15%;
            //     right: auto;
            //     left: 70%;
            // }
        }
    }
}