.bs-modal {
    .modal-content {
        .modal-header {
            background-color: $bs-btn;
            color: #fff;
        }
        border-radius: 0;
        .table>thead>tr>th {
            background: #ddd;
            color: #000;
        }
        .data-row {
            .icon {
                font-size: 24px;
                line-height: 24px;
                text-decoration: none;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .bs-modal {
        .modal-footer {
            .btn,
            .btn+.btn {
                width: 100%;
                margin: 15px 0 5px;
            }
        }
    }
}