.bs-header {
    // .menuContainer{
    //     z-index: 10;
    //     background: #fff;
    //     height: 300px;
    //     width: 300px;
    //     position: fixed;
    //     right: 155px;
    //     top: -206px;
    //     transform: rotate(190deg);
    // }
    .menu-toggle {
        z-index: 10;
    }
    $bp-small: 500px;
    $bp-arrow: 700px;
    $color: #fff;
    $color-dark: darken($color, 10%);
    $color-lite: lighten($color, 10%);
    @mixin position-center {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            cursor: pointer;
            padding: 6px 20px;
            font-size: 28px;
        }
    }
    button {
        //opacity: 0.6;
        background-color: transparent;
        position: fixed;
        z-index: 2;
        top: 24px;
        right: 24px;
        border: none;
        width: 36px;
        height: 30px;
        outline: none;
        transition: opacity 0.2s ease-out;
        &:before {
            content: "";
            @include position-center;
            right: auto;
            width: 100%;
            background: linear-gradient(to bottom, $bs-btn, $bs-btn 20%, transparent 20%, transparent 40%, $bs-btn 40%, $bs-btn 60%, transparent 60%, transparent 80%, $bs-btn 80%, $bs-btn 100%);
            transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
        }
        &:after {
            opacity: 0;
            content: "×";
            color: white;
            position: absolute;
            top: 16px;
            left: -4px;
            font-family: Arial, sans-serif;
            font-size: 76px;
            line-height: 0;
            transition: opacity 0.4s ease-out;
        }
        &:active {
            transform: translateY(2px);
        }
        &:hover {
            opacity: 1;
        }
        .open & {
            opacity: 1;
            &:before {
                opacity: 0;
                width: 0;
            }
            &:after {
                opacity: 1;
                transform: translate3d(0, 0, 0) rotate(360deg);
                transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
            }
        }
    }
    nav {
        z-index: 2;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        overflow: hidden;
        background-color: #fff;
        &:before {
            content: "";
            @include position-center;
            background: $bs-btn; // rgba($color-dark, 0.98);
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            border-radius: 100%;
            transform: scale(0.04), translateY(9999px);
            overflow: hidden;
            display: none;
        }
        .open & {
            top: 0;
            &:before {
                animation: menu-animation 0.8s ease-out forwards;
            }
        }
    }
    ul.menu {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        backface-visibility: hidden;
        perspective: 1000;
        color: white;
        li {
            opacity: 0;
            text-align: center;
            transform: translate3d(0, 36px, 0);
            &:before {
                content: "";
                @include position-center;
                left: auto;
                background-color: #e09360;
                height: 100%;
                width: 0;
                overflow: hidden;
                transition: width 0.14s ease-out;
            }
            &:after {
                opacity: 0;
                content: attr(data-text);
                @include position-center;
                color: $color;
                overflow: hidden;
                transform: translate(-24px, 6px);
                transition: transform 0.1s ease-out, opacity 0.1s ease-out;
            }
            &:hover {
                &:before {
                    left: 0;
                    right: auto;
                    width: 100%;
                }
                &:after {
                    opacity: 1;
                    padding: 0 20px;
                    transform: translate(0px, 6px);
                    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
                }
            }
            .open & {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition: transform 0.2s ease-out, opacity 0.2s ease-out;
                @for $i from 1 to 13 {
                    &:nth-child(#{$i}) {
                        transition-delay: $i * 0.1s + 0.65s;
                    }
                }
            }
        }
    }
    @keyframes menu-animation {
        0% {
            opacity: 0;
            transform: scale(0.04) translateY(300%);
        }
        40% {
            transform: scale(0.04) translateY(0);
            transition: ease-out;
        }
        40% {
            transform: scale(0.04) translateY(0);
        }
        60% {
            opacity: 1;
            transform: scale(0.02) translateY(0px);
        }
        61% {
            transform: scale(0.04);
        }
        99.9% {
            height: 0;
            padding-bottom: 100%;
            border-radius: 100%;
        }
        100% {
            transform: scale(2);
            height: 100%;
            padding-bottom: 0;
            border-radius: 0;
        }
    }
}

.open .bs-header nav:before {
    display: block;
}


/*top nav animation end*/

.collapse-button {
    background-image: none;
    width: 30px;
    height: 22px;
    position: fixed;
    z-index: 211;
    top: 20px;
    right: 20px;
    cursor: pointer;
    &:after {
        content: '';
        display: none;
        width: 110px;
        height: 110px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        background-color: white;
        right: -20px;
        position: absolute;
        z-index: -1;
        top: -20px;
    }
}

.collapse-button:hover {
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
}

.collapse-button1,
.collapse-button1:before,
.collapse-button1:after {
    background: $bs-btn;
}

.collapse-button1 {
    width: 30px;
    height: 3px;
    margin: 10px 0;
    background: #fff; // $bs-btn;
    position: absolute;
}

.collapse-button1:after,
.collapse-button1:before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #fff; // $bs-btn;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.collapse-button1:after {
    top: 8px;
}

.collapse-button1:before {
    top: -8px;
}

.collapse-button.exp .collapse-button1 {
    background: none;
}

.collapse-button.exp .collapse-button1:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.collapse-button.exp .collapse-button1:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.collapse-button.exp .collapse-button1:after,
.collapse-button.exp .collapse-button1:before {
    top: 0;
    width: 28px;
}

@media screen and (max-width:768px) {
    .bs-header ul li {
        font-size: 18px;
        white-space: nowrap;
    }
}

@media screen and (min-width:1200px) {
    #about-us .bs-heading {
        margin-bottom: 120px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .bs-header ul li {
        font-size: 32px;
    }
}