//Radio button circles
.input-radio-circle {
    margin: 0 15px 0 0;
    display: inline-block;
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        +.radio-label-circle {
            &:before {
                content: '';
                background: #fff;
                border-radius: 100%;
                border: 1px solid $bs-btn;
                display: inline-block;
                width: 18px;
                height: 18px;
                position: relative;
                top: 2px;
                margin-right: 5px;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
            }
        }
        &:checked {
            +.radio-label-circle {
                &:before {
                    background-color: $bs-btn;
                    box-shadow: inset 0 0 0 2px #fff;
                }
            }
        }
        +.radio-label-circle {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

//Radio button circles