.bs-inputFile {
    border-radius: 20px;
    background-color: $form-input;
    font-family: $fnt1;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #000;
    border: none;
    padding: 20px 25px;
    position: relative;
    .input-heading {
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #000;
        position: absolute;
        top: 14px;
        left: 30px;
    }
    input {
        border: 0;
        padding: 0;
        visibility: hidden;
        height: 0;
    }
    .icon {
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 14px;
    }
    .file-name {
        position: absolute;
        top: 14px;
        left: 25px;
    }
    &:focus {
        box-shadow: none;
        border: none;
    }
}

// .attach-form-holder {
//     .attach-file {
//         visibility: hidden;
//         position: absolute;
//     }
//     .attach-holder {
//         display: block;
//         width: 100%;
//         position: relative;
//         &.file-attached {
//             &:after {
//                 content: 'M';
//                 font-family: 'chefcan';
//                 @extend .cm-icon;
//                 color: #6ccf5b;
//                 font-size: 18px;
//                 position: absolute;
//                 left: 12px;
//                 top: 12px;
//                 display: block;
//             }
//             .form-input-attach {
//                 border: 0;
//             }
//         }
//         .form-input-attach {
//             color: #666666;
//             padding: 10px 170px 10px 40px;
//             width: 100%;
//             border: 1px solid $clr-base-grey;
//             @include border-radius(2px);
//             background-color: #fff;
//         }
//         .attach-btn {
//             position: absolute;
//             display: inline-block;
//             width: 150px;
//             height: 100%;
//             right: 0;
//             padding-right: 20px;
//             text-align: right;
//             top: -2px;
//             color: $bs-btn;
//             @include border-radius(2px);
//             padding-top: 15px;
//             cursor: pointer;
//             i {
//                 @extend .cm-icon;
//             }
//         }
//         .close-attach-btn {
//             width: 16px;
//             height: 16px;
//             right: 15px;
//             top: 13px;
//             position: absolute;
//             border: 1px solid $bs-btn;
//             @include border-radius(50%);
//             i {
//                 @extend .cm-icon;
//                 color: $bs-btn;
//                 ;
//                 margin-top: -8px;
//                 margin-left: 1px;
//                 cursor: pointer;
//             }
//         }
//     }
//     &.file-attached {
//         .attach-holder {
//             &:after {
//                 content: 'M';
//                 font-family: 'chefcan';
//                 @extend .cm-icon;
//                 color: #6ccf5b;
//                 font-size: 18px;
//                 position: absolute;
//                 left: 0;
//                 top: 12px;
//                 display: block;
//             }
//             .form-input-attached {
//                 color: #666666;
//                 padding: 10px 40px 10px 25px;
//                 width: 100%;
//                 border: 0;
//                 @include border-radius(2px);
//                 background-color: #fff;
//             }
//             .close-attached-btn {
//                 width: 16px;
//                 height: 16px;
//                 right: 15px;
//                 top: 13px;
//                 position: absolute;
//                 border: 1px solid $bs-btn;
//                 @include border-radius(50%);
//                 i {
//                     @extend .cm-icon;
//                     color: $bs-btn;
//                     ;
//                     margin-top: -6px;
//                     margin-left: 1px;
//                     cursor: pointer;
//                 }
//             }
//         }
//     }
// }