.bs-drpdwn {
    border-radius: 20px;
    background-color: $form-input;
    font-family: $fnt1;
    font-weight: 500;
    font-size: 12px;
    line-height: 0;
    padding: 20px 25px;
    color: #000;
    border: none;
    text-transform: capitalize;
    &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 5px 0 5px;
        border-color: #7f7f7f transparent transparent transparent;
        position: absolute;
        right: 30px;
        top: 16px;
    }
}