.bs-heading {
    font-size: 45px;
    line-height: 45px;
    color: #fff;
    font-family: $fnt2;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    &:after {
        content: " ";
        width: 100px;
        height: 2px;
        background: #ea2365;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        left: 50%;
        bottom: -15px;
        margin-left: -50px;
    }
}

@media screen and (max-width:768px) {
    .bs-heading {
        font-size: 24px;
        line-height: 24px;
        // font-size: 32px;line-height: 32px;
    }
}