.bs-btn {
    border-radius: 20px;
    padding: 10px 50px;
    border: none;
    background: $bs-btn;
    text-transform: uppercase;
    color: #fff;
    &:hover,
    &:focus {
        background-color: $bs-btn-hover;
        color: #fff;
    }
}