.bs-footer {
    background-color: #fff;
    padding: 15px 0;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    font-family: $fnt1;
    color: $clr-base-dark;
}

.querySec {
    display: none;
    max-width: 280px;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: white;
    bottom: -375px;
    right: 30px;
    @include border-radius(5px);
    -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    overflow: hidden;
    .bs-input,
    .query-btn {
        width: 90%;
        margin: 0 5%;
    }
    &.show {
        bottom: -5px;
    }
    .queryFrom {
        padding: 15px 15px 0;
    }
    .queryName {
        display: block;
        padding: 15px;
        text-align: center;
        background-color: $bs-btn;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
    }
    .contact-error {
        margin: -10px 0 15px 0;
        display: none;
    }
}

@media screen and (max-width:767px) {
    .querySec {
        display: none;
    }
    .bs-footer {
        .col-sm-6 {
            &.text-left,
            &.text-right {
                text-align: center;
            }
            &.text-right {
                margin-top: 10px;
            }
        }
    }
}