.bs-input {
    border-radius: 20px;
    background-color: $form-input;
    font-family: $fnt1;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    padding: 20px 25px;
    color: #000;
    border: none;
    //text-transform: capitalize;
    &:focus {
        box-shadow: none;
        border: none;
    }
    //@include inputPlaceholder($bs-btn);
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $clr-blk;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $clr-blk;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $clr-blk;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $clr-blk;
    }
}