.mod-bx {
    -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.12);
    min-height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.type-blue {
        background: #0084bd url("../images/left-bx-bg.png") no-repeat;
        background-size: cover;
        .content {
            display: block;
            /* Fallback for non-webkit */
            display: -webkit-box;
            max-width: 400px;
            text-align: left;
            height: 50;
            /* Fallback for non-webkit */
            margin: 0 auto;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &.type-orange {
        background: rgb(255, 255, 255) url("../images/right-bx-bg.png") no-repeat;
        background-size: cover;
        .content {
            display: block;
            /* Fallback for non-webkit */
            display: -webkit-box;
            max-width: 400px;
            text-align: left;
            height: 50;
            /* Fallback for non-webkit */
            margin: 0 auto;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .heading {
        font-size: 30px;
        line-height: 30px;
        color: #000;
        font-family: $fnt1;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .content {
        font-size: 14px;
        line-height: 180%;
        color: $clr-base-dark;
        font-family: $fnt1;
        font-weight: 400;
    }
    .link {
        font-size: 18px;
        line-height: 30px;
        color: $bs-btn;
        font-family: $fnt1;
        text-decoration: none;
        margin-top: 10px;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}