.mod-vlntr-bx {
    background: #fff url("../images/volunteer-bg.png") no-repeat;
    background-size: contain;
    background-position: right;
    padding: 50px 0 25px 25px;
    &.volunteer {
        background: #fff url("../images/donations.jpg") no-repeat;
        background-size: contain;
        background-position: right;
    }
    &.mission {
        min-height: 400px;
        padding: 25px 25px;
        background-position: 574px;
        background: #fff url("../images/green.jpg") no-repeat;
        background-size: contain;
        background-position: right;
    }
    &.who-we-are {
        min-height: 330px;
        padding: 25px 25px;
        background-position: 574px;
        background: #fff url("../images/right-bg.png") no-repeat;
        background-size: contain;
        background-position: right;
    }
    // &.vision {
    //     min-height: 400px;
    //     padding: 25px 15px;
    // }
}

@media screen and (max-width:768px) {
    .mod-vlntr-bx {
        padding: 15px;
        background-size: cover;
        &.volunteer {
            background: #fff;
        }
    }
}

@media screen and (min-width:992px) {
    .mod-vlntr-bx {
        .table {
            width: 70%;
        }
    }
}