.mod-vr-tabs {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // min-height: 200px;
    // text-align: center;
    h4 {
        color: #fff;
    }
    .nav.dot-tab{width:85px;

    li{a{padding:5px 5px;}}}
    .nav {
        width: 800px;
        margin: 0 auto;
        display: block;
        li {
            margin: 0 35px;
            a {
                border-radius: 20px;
                padding: 10px 25px;
                border: none;
                background: #fff;
                text-transform: uppercase;
                color: #000;
                &:hover,
                &:focus {
                    background-color: $bs-btn-hover;
                    color: #fff;
                }
            }
            &.active {
                a {
                    background-color: $bs-btn-hover;
                    color: #fff;
                }
            }
        }
    }
    .timeline-header {
        margin-bottom: 20px;
        .heading {
            font-family: $fnt2;
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            color: #fff;
        }
        .details {
            font-family: $fnt2;
            font-size: 14px;
            line-height: 14px;
            color: #fff;
        }
    }
}

@media screen and (max-width:992px) and (min-width:768px) {
    .mod-vr-tabs {
        .scrollingBox {
            .nav {
                width: 100%;
                li {
                    margin: 0 24px;
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .mod-vr-tabs {
        .timeline {
            .timeline-bx {
                padding: 10px 5px 10px 20px;
            }
        }
        .scrollingBox {
            overflow-x: auto;
            .nav {
                width: 630px;
                li {
                    margin: 15px 15px 15px 0;
                }
            }
        }
        .left {
            &:before {
                left: 30px;
                transform: rotate(180deg);
            }
        }
    }
    .mod-vr-tabs {
        min-height: 60px;
    }
}