.mod-register.mod-vlntr-bx {
    padding: 15px 0;
    .nav-pills {
        width: 325px;
        margin: 15px auto;
        &>li>a {
            margin: 0 15px;
            border-radius: 25px;
            padding: 10px 25px;
        }
        &>li>a,
        &>li>a:hover,
        &>li>a:focus {
            color: #000;
            background-color: $form-input;
        }
        &>li.active>a,
        &>li.active>a:hover,
        &>li.active>a:focus {
            color: #fff;
            background-color: $bs-btn;
        }
    }
    .heading {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #000;
        margin-bottom: 25px;
    }
    .nav-tabs {
        border-bottom: none;
        background-color: $clr-base;
        &>li>a {
            border-radius: 0;
        }
    }
    small {
        margin: 10px 15px 0px 0;
        display: block;
        font-size: 10px;
        color: $bs-btn;
    }
}

@media screen and (max-width:768px) {
    .mod-register.mod-vlntr-bx {
        padding: 15px;
        .nav-pills {
            width: 50%;
            margin: 15px auto;
            li {
                width: 100%;
                a {
                    margin: 20px auto 0;
                    border-radius: 25px;
                    padding: 10px 25px;
                    width: 100%;
                    max-width: 160px;
                    text-align: center;
                }
            }
        }
        .tab-content,
        form {
            padding: 0 15px;
        }
    }
}