.mod-contact {
    background: rgba(0, 0, 0, 0.8);
    @include border-radius-full(3px, 0, 3px, 0);
    @include box-shadow(0, 0, 18px, rgba(0, 0, 0, 0.12));
    padding: 0;
    position: relative;
    .coming-soon {
        color: #fff;
        margin-top: 15px;
    }
    .contact-box {
        .contact-form {
            padding: 0;
            position: relative;
            //background-color: #fff;
            min-height: 428px;
            .map-responsive {
                overflow: hidden;
                //padding-bottom: 56.25%;
                padding-bottom: 64.25%;
                position: relative;
                height: 0;
                iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }
            // .map-box {
            //     width: 100%;
            //     height: 100%;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            // }
            .heading {
                font-family: $fnt1;
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                color: #000;
                margin: 0 0 20px 0;
            }
        }
        .contact-info {
            .blk-bx {
                width: 100%;
                padding: 25px 15px;
            }
            .heading {
                color: #fff;
                font-size: 18px;
                line-height: 18px;
                font-family: $fnt1;
                font-weight: 500;
                margin: 0;
            }
            .map-link {
                font-family: $fnt1;
                font-size: 14px;
                line-height: 14px;
                color: $bs-btn;
            }
            .icon {
                color: #fff;
                font-size: 18px;
            }
            address {
                margin: 0;
            }
            address,
            a.cm-link {
                font-family: $fnt1;
                font-size: 12px;
                line-height: 18px;
                font-weight: 500;
                color: #fff;
                &:hover {
                    text-decoration: none;
                }
            }
            .social-box {
                margin-top: 15px;
                h6 {
                    font-family: $fnt1;
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 400;
                    color: #fff;
                }
                div {
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    flex-direction: row;
                    width: 150px;
                    margin: 20px 0 0 0;
                }
                a {
                    height: 35px;
                    width: 35px;
                    border: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include border-radius(25px);
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                    &.icon-facebook {
                        background-color: #3B5998;
                        color: #fff;
                    }
                    &.icon-twitter {
                        background-color: #55ACEE;
                        color: #fff;
                    }
                    &.icon-instagram {
                        background-color: #a57d60;
                        color: #fff;
                    }
                }
            }
        }
    }
    .map-box {
        background-color: #fff;
        display: none;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .icon {
            font-size: 24px;
            line-height: 24px;
            color: #000;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 1;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:768px) {
    .mod-contact {
        padding: 0;
        .contact-box {
            clear: both;
            display: table;
            padding: 0;
            .contact-form {
                min-height: 221px;
            }
        }
        .map-box {
            img {
                position: relative;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .map-box {
        height: 428px;
    }
}