.mod-vr-tabs {
    .white-panel {
        background: #fff url("../images/wonders.png") no-repeat bottom center;
        padding: 30px;
        margin: 30px 0;
        position: relative;
        z-index: 2;
        .sub-heading {
            font-family: $fnt2;
            font-weight: 600;
            font-size: 26px;
            line-height: 26px;
            margin-top: 0;
            margin-bottom: 15px;
        }
        .chief-guest-box {
            .bullet-element {
                margin-bottom: 30px;
            }
        }
        & .row>.heading {
            margin-top: 15px;
            margin-bottom: 15px;
            h1 {
                letter-spacing: 0;
                margin: 0 0 15px 0;
                padding: 0;
                font-family: $fnt2;
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
            }
            .main-logo {
                margin: 15px 0;
            }
            h3 {
                letter-spacing: 0;
                margin: 0;
                padding: 0;
                font-family: $fnt1;
                font-weight: 700;
                font-size: 14px;
                line-height: 130%;
            }
        }
        .bullet-element {
            margin: 0 0 50px 0;
            ul {
                margin: 0 0 0 20px;
                padding: 0;
                list-style: none;
                li {
                    font-family: $fnt1;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 14px;
                    text-align: center;
                    position: relative;
                    &:before {
                        content: "\2022";
                        color: $clr-pink;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 24px;
                        width: 10px;
                        left: -20px;
                        position: absolute;
                        top: -6px;
                        display: none;
                    }
                }
            }
            .content {
                font-family: $fnt1;
                font-weight: 600;
                color: $clr-base-dark;
                font-size: 14px;
                line-height: 130%;
                margin: 10px 0 10px 20px;
                text-align: center;
            }
        }
        .user-profile {
            .picture {
                margin-top: 15px;
            }
            .heading {
                font-family: $fnt1;
                font-weight: 700;
                font-size: 14px;
                line-height: 14px;
                color: #000;
            }
            .details {
                font-family: $fnt1;
                font-weight: 600;
                color: $clr-base-dark;
                font-size: 14px;
                line-height: 14px;
                margin: 10px 0;
            }
        }
    }
    .stage-heading {
        margin: 20px 0;
        span {
            background-color: #fff;
            padding: 12px 15px;
            border-radius: 5px;
            color: $clr-pink;
            text-transform: uppercase;
            min-width: 100px;
            text-align: center;
            font-family: $fnt2;
            font-size: 16px;
            line-height: 100%;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timeline+[data-readmore-toggle],
    .timeline[data-readmore] {
        display: block;
        width: 100%;
    }
    .timeline[data-readmore] {
        transition: height 75ms;
        overflow: hidden;
        // height: 525px;
    }
    /* The actual timeline (the vertical ruler) */
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.4);
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    /* Container around content */
    .timeline-bx {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
        min-height: 175px;
    }
    /* The circles on the timeline */
    .timeline-bx::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        right: -1px;
        background-color: #ea2365;
        top: 28px;
        border-radius: 50%;
        z-index: 1;
    }
    /* Place the container to the left */
    .left {
        left: 0;
    }
    /* Place the container to the right */
    .right {
        left: 50%;
    }
    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }
    /* Add arrows to the right container (pointing left) */
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Fix the circle for containers on the right side */
    .right::after {
        left: -7px;
    }
    /* The actual content */
    .information {
        padding: 30px 20px 20px;
        background-color: white;
        position: relative;
        border-radius: 6px;
        color: #434a54;
        font-size: 12px;
        text-align: center;
    }
    /* tab-content */
    .information {
        .heading {
            font-family: $fnt1;
            font-size: 14px;
            line-height: 14px;
            font-weight: 600;
            color: #000;
            margin: 0 0 5px 0;
            text-transform: capitalize;
        }
        .icon {
            color: $bs-btn;
            font-size: 12px;
        }
        .time,
        .details {
            font-family: $fnt1;
            font-size: 12px;
            line-height: 150%;
            font-weight: 400;
            color: $bs-radio-label;
            margin: 0;
        }
        .text-details {
            color: $clr-base-dark;
            font-weight: 700;
        }
        .artist-image {
            position: absolute;
            left: 50%;
            top: 0%;
            transform: translate(-50%, -50%);
            width: 40%;
            .artist-icon {
                background: #fff;
                padding: 11px 12px 7px 11px;
                font-size: 18px;
                line-height: 100%;
                border-radius: 40px;
                border: 1px solid $clr-pink;
                margin: 0 -5px;
            }
        }
    }
    /*inverse */
    .time-details {
        content: '';
        position: absolute;
        width: 210px;
        height: 25px;
        left: -250px;
        top: 20px;
        z-index: 1;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        .opposite-timer {
            font-family: $fnt1;
            font-size: 14px;
            line-height: 14px;
            font-weight: 600;
            color: #fff;
            letter-spacing: 1px;
        }
    }
    .inverser {
        content: '';
        position: absolute;
        width: 275px;
        height: 25px;
        right: -300px;
        top: 20px;
        border-radius: 50%;
        z-index: 1;
        font-size: 14px;
        line-height: 20px;
        .opposite-timer {
            font-family: $fnt1;
            font-size: 14px;
            line-height: 14px;
            font-weight: 600;
            color: #fff;
            letter-spacing: 1px;
        }
    }
}

@media screen and (min-width:769px) {
    #day2 .timeline.less {
        // height: 1005px;
        height: 1140px;
    }
    #day3 .timeline.less {
        height: 900px;
    }
}

@media screen and (max-width:768px) {
    .mod-vr-tabs {
        .timeline {
            .white-panel .bullet-element {
                margin: 0px 0px 20px;
            }
            .stage-heading {
                margin-bottom: 50px;
            }
            &:after {
                left: 7px;
            }
            .timeline-bx {
                width: 100%;
                margin-bottom: 50px;
                &:after {
                    left: 0;
                    top: 27px;
                }
            }
            .information .artist-image {
                width: 100%;
            }
        }
        #day1 .timeline:after {
            display: none;
        }
        .right,
        .left {
            left: 0;
        }
    }
}