.mod-img-thumbnail {
    width: 100%;
    .content {
        width: 100%;
        a {
            text-decoration: none;
            position: relative;
            display: block;
            overflow: hidden;
            .heading {
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 25%;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.6+100 */
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000', GradientType=0);
                /* IE6-9 */
                color: #fff;
                font-size: 20px;
                line-height: 20px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 15px;
            }
            .content-overlay {
                background: rgba(0, 0, 0, 0.7);
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
            }
            .content-details {
                position: absolute;
                text-align: left;
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
                top: 0;
                left: 50%;
                opacity: 1;
                transform: translate(-50%, -50%);
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
                &.fadeIn-bottom {
                    top: 100%;
                }
                .title {
                    color: #fff;
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 600;
                }
                .details {
                    color: #fff;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                }
            }
        }
        &:hover {
            .content-details.fadeIn-bottom {
                top: 50%;
                opacity: 1;
            }
            .content-overlay {
                opacity: 0.70;
                background-color: #000;
                border: 0;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .content-details {
        text-align: left;
    }
    // .wte-section .row:first-child .col-md-3:first-child {
    //     margin-left: 12.5%;
    // }
    // .wte-section .row:last-child .col-md-3:first-child {
    //     margin-left: 25%;
    // }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .mod-img-thumbnail {
        .content {
            padding: 15px 0;
            a {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
    .wte-section .row:first-child .col-md-3:nth-child(3) {
        margin-left: 25%;
    }
    .wte-section .row:nth-child(3) .col-md-3:nth-child(3) {
        margin-left: 25%;
    }
}

@media screen and (max-width:1023px) {
    .popup-gallery {
        .cm-mT30 {
            margin-top: 0;
        }
    }
}

@media screen and (max-width:768px) {
    .mod-img-thumbnail {
        .content {
            padding: 15px 0;
            a {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}