.mod-hr-tabs {
    &>div {
        padding: 0;
        .nav {
            li {
                &+li {
                    margin-top: 0;
                }
                a {
                    background-color: $clr-base-grey;
                    border-radius: 0;
                    border-left: 3px solid $clr-base-grey;
                    padding: 15px 15px;
                    .heading {
                        font-family: $fnt2;
                        font-size: 20px;
                        line-height: 20px;
                        text-transform: uppercase;
                        color: #000;
                        display: inline-block;
                    }
                    .details {
                        font-family: $fnt1;
                        color: $clr-base-dark;
                        font-size: 12px;
                        line-height: 18px;
                        display: inline-block;
                        margin: 0;
                        height: 72px;
                    }
                }
                &.active,
                &:hover,
                &:focus {
                    a {
                        background-color: #ffffff;
                        border-left: 3px solid $bs-btn;
                    }
                }
            }
        }
        .tab-content {
            // background: rgba(255, 255, 255, 0.4) url('../images/right-bg.png') no-repeat center;
            background: rgb(255, 255, 255) url('../images/right-bg.png') no-repeat center right;
            min-height: 378px;
            border-radius: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            .heading {
                font-family: $fnt1;
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                color: #000;
                margin: 0 0 15px 0;
                text-transform: capitalize;
            }
            .content {
                font-family: $fnt1;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: $clr-base-dark;
                margin: 0 auto 30px auto;
                width: 80%;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .mod-hr-tabs>div {
        .tab-content {
            background-size: cover;
            padding: 15px;
            .active {
                width: 100%;
            }
        }
    }
}