.lyt-sponsor {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 30px;
    .heading {
        color: $clr-blk;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 10px;
    }
    .sponsor {
        display: block;
    }
}