// .skrollable {
//     -webkit-transition: all 0.2s ease;
//     -moz-transition: all 0.2s ease;
//     -o-transition: all 0.2s ease;
// }
body {
    // background-color: grey;
    // background: linear-gradient(-45deg, #ec5425, #e11a67, #11ade5, #0edaaa);
    // background-size: 400% 400%;
    // -webkit-animation: Gradient 15s ease infinite;
    // -moz-animation: Gradient 15s ease infinite;
    // animation: Gradient 15s ease infinite;
    // overflow-x: hidden;
    height: auto!important;
}

#pageloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $bs-btn;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    /* makes sure it stays on top */
    img {
        width: 5%;
    }
}

.body-bg {
    background: linear-gradient(-45deg, #e13b08, #c1064e, #0595c9, #06b48b);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.bs-heading {
    margin-bottom: 50px;
}

.chakri-cntr {
    min-height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chakri-fast-animation {
    -webkit-animation: rotation .5s infinite linear;
    animation: rotation .5s infinite linear;
}

.chakri-animation {
    -webkit-animation: rotation 25s infinite linear;
    animation: rotation 25s infinite linear;
}

// Satya changes
.mod-vr-tabs .timeline[data-readmore] {
    transition: height 75ms;
    overflow: hidden;
    padding-top: 80px;
}

.grad-black {
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

.information-type {
    padding: 20px 20px 9px;
    background-color: white;
    position: relative;
    @include border-radius-full(0px, 0px, 6px, 6px);
    font-size: 12px;
    text-align: left;
    .heading-type2 {
        font-family: "Montserrat";
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
        color: #000;
        margin: 0 0 5px 0;
        text-transform: capitalize;
    }
    .text-black {
        color: black;
    }
    .text-details {
        color: #656d78;
        font-weight: 700;
        margin: 0 0 5px 0;
    }
    .performance-info {
        margin-top: 10px;
    }
    .more-info-tab {
        margin-top: 10px;
        .pink-text {
            font-size: 14px;
            color: #ea2365;
            font-weight: 700;
            display: inline-block;
        }
    }
    .frame-image {
        background-position: center;
        background-size: cover;
    }
    .icon-right-arrow {
        font-size: 18px;
        color: #ea2365;
        display: inline-block;
        margin: 1px 0 0 10px;
    }
}

@media screen and (max-width: 767px) {
    .information-type {
        .icon-right-arrow {
            display: none;
        }
    }
}

.performance-info-right {
    position: relative;
    z-index: 1;
}

.performance-info-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1px;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.performance-info-right::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: -46px;
    background-color: #ea2365;
    top: 8px;
    border-radius: 50%;
    z-index: 1;
}

.performance-info-left {
    position: relative;
}

.gradi1 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100 */
    background: #7d7e7d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
    /* IE6-9 */
}

.performance-info-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1px;
    width: 0;
    z-index: 1;
    right: -10px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.performance-info-left::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    right: -42px;
    background-color: #ea2365;
    top: 8px;
    border-radius: 50%;
    z-index: 1;
}

@media screen and (max-width: 992px) {
    .shift-up {
        margin-top: 0px;
    }
    .performance-info-left::after {
        right: 0;
        left: -40px;
    }
    .performance-info-left::before {
        right: 0;
        left: -10px;
        transform: rotate(180deg);
    }
    .performance-info-right::after {
        left: -40px;
    }
}

@media screen and (max-width: 767px) {
    .performance-info-right::after {
        left: -20px;
    }
    .performance-info-left::after {
        left: -20px;
    }
}

// Details -page start
.details-page {
    .mod-vr-tabs .nav {
        width: 520px;
    }
    .mod-vr-tabs .timeline::after {
        display: none;
    }
    .bs-heading {
        font-size: 30px;
    }
    .grid-item {
        float: left;
        overflow: hidden;
    }
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }
    .grid-item--width2 {
        width: 380px;
    }
    .grid-item--box1 {
        padding: 5px;
    }
}

.video-container {
    position: relative;
    .video-icon {
        position: absolute;
        background: url(../images/youtube-icon75.png);
        z-index: 9;
        width: 75px;
        height: 53px;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }
}

// Details -page end
.photo-gallary {
    .swiper-slide {
        img {
            @include border-radius-full(6px, 6px, 0px, 0px);
        }
    }
    .performance-name {
        // position: absolute;
        // left: 5%;
        // bottom: 175px;
        color: white;
        z-index: 111111;
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        padding: 5px;
        .text-white {
            font-weight: 700;
            font-size: 14px;
        }
        .text-details-s {
            font-weight: 100;
        }
    }
    .artist-image {
        position: absolute;
        right: 4%;
        top: 7%;
        z-index: 111111;
        .artist-icon {
            color: #ea2365;
            background: #fff;
            padding: 11px 12px 7px 11px;
            font-size: 18px;
            line-height: 100%;
            border-radius: 40px;
            border: 1px solid #ea2365;
            margin: 0 -5px;
        }
    }
}

@media screen and (max-width: 992px) {
    .photo-gallary {
        .swiper-slide {
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .photo-gallary {
        .swiper-slide {
            img {
                height: 160px;
            }
        }
        .performance-name {
            margin-top: -17px;
        }
        .artist-image {
            right: 5%;
            top: 5%;
        }
    }
}

.information-image {
    padding: 80px 0px 0px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    color: #434a54;
    font-size: 12px;
    text-align: center;
    .performer-circle {
        position: absolute;
        z-index: 1;
        top: -25%;
        left: 50%;
        transform: translate(-50%, 0);
        .circle-imge {
            text-align: center;
            img {
                border-radius: 50%;
                border: 2px solid #ea2365;
            }
        }
        .performer-details {
            margin: 10px;
            text-align: center;
            font-size: 14px;
            color: black;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 1024px) {
    @media screen and (max-width: 767px) {
        .information-image {
            padding: 70px 0px 0px;
            .performer-circle {
                top: -17px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .information-image {
        padding: 20px 0px 0px;
        .performer-circle {
            position: relative;
            transform: none;
            left: 0;
            top: 0;
            .performer-details {
                margin: 10px 0 0 0;
            }
        }
    }
}

@media screen and (max-width: 992px) {}

.information-video {
    background-color: white;
    position: relative;
    border-radius: 6px;
    color: #434a54;
    font-size: 12px;
    text-align: center;
    .performance-name {
        z-index: 111111;
        margin-top: -48px;
        margin-bottom: 30px;
        color: white;
        .text-white {
            font-weight: 700;
            font-size: 14px;
        }
        .text-details-s {
            font-weight: 100;
        }
    }
    .set-bg {
        height: 160px;
        @include border-radius-full(6px, 6px, 0px, 0px);
    }
    .artist-image {
        position: absolute;
        right: 4%;
        top: 7%;
        z-index: 111111;
        .artist-icon {
            color: #ea2365;
            background: #fff;
            padding: 11px 12px 7px 11px;
            font-size: 18px;
            line-height: 100%;
            border-radius: 40px;
            border: 1px solid $clr-pink;
            margin: 0 -5px;
        }
    }
    .video-container {
        .video-wrapper {
            a {
                height: 250px;
            }
        }
    }
}

.mod-vr-tabs .right::before {
    display: none;
}

.mod-vr-tabs .left::before {
    display: none;
}

.mod-vr-tabs .timeline-bx::after {
    display: none;
}

.slider-frame {
    position: relative;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.radio-container {
    margin-top: 10px;
    .label-heading {
        margin: 0 5px;
    }
    label,
    .label-heading {
        font-family: $fnt1;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        color: $bs-radio-label;
    }
}

.wwr-bg {
    background: url("../images/wwr-bg.png") no-repeat;
    background-position: left;
}

.timeline-bg {
    background: url("../images/timeline.png") no-repeat;
    background-position: center;
}

.registration-bg {
    background: url("../images/registration-bg.png") no-repeat;
    background-position: right;
}

main {
    position: relative;
}

#waves-canvas {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 800px;
    opacity: .2;
}

.disclaimer {
    //font-size: 12px;
    color: $bs-btn;
}

.loader {
    display: none;
}

.chakri {
    position: absolute;
    // -moz-transition-duration: .2s;
    // -o-transition-duration: .2s;
    // -webkit-transition-duration: .2s;
    // transition-duration: .2s;
    span {
        font-size: 100px;
        line-height: 100px;
        color: rgba(255, 255, 255, 0.2);
    }
}

.chakri1 {
    top: 750px;
    left: 50px;
}

.chakri2 {
    top: 1350px;
    right: 35px;
}

.chakri3 {
    top: 1610px;
    left: 50px;
}

.chakri4 {
    top: 1610px;
    right: 70px;
}

.chakri5 {
    top: 2200px;
    left: 60px;
}

.chakri6 {
    top: 2840px;
    right: 140px;
}

.chakri7 {
    top: 3000px;
    left: 30px;
}

.chakri8 {
    top: 3484px;
    right: 55px;
}

.chakri9 {
    top: 1000px;
    right: 50px;
}

.chakri10 {
    top: 3650px;
    right: 335px;
}

.chakri11 {
    top: 3700px;
    left: 215px;
}

.chakri12 {
    top: 4200px;
    left: 16px;
}

.white-bx {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    @include border-radius(5px);
    h4 {
        color: #fff;
    }
}

textarea {
    resize: none;
}

.form-group {
    margin-bottom: 20px;
}

.audio_button {
    font-size: 32px;
    line-height: 38px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 16px;
    right: 70px;
    text-decoration: none;
    z-index: 5;
    cursor: pointer;
    &.icon-volume-off {
        right: 78px;
    }
}

.venue-box {
    margin-top: 20px;
}

.separator-line {
    margin: 20px 2.5% 0;
    height: 0;
    width: 95%;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.40);
    ;
}

.form-box {
    width: 711px;
}

@media screen and (max-width:768px) {
    .white-bx {
        padding: 15px;
    }
    .chakri-animation {
        width: 50%;
    }
    .audio_button {
        font-size: 32px;
        line-height: 32px;
    }
    .chakri-cntr {
        min-height: 190px;
    }
    #pageloader {
        img {
            width: 25%;
        }
    }
    .form-box {
        width: auto;
    }
    .chakri6 {
        top: 2603px;
        right: 195px;
    }
    .chakri7 {
        top: 4740px;
        left: 30px;
    }
    .chakri8 {
        top: 5800px;
        right: 55px;
    }
    .chakri11 {
        top: 6421px;
        left: 215px;
    }
    .chakri12 {
        top: 7806px;
        left: 234px;
    }
    .chakri5 {
        top: 2600px;
        left: 60px;
    }
    .mfp-arrow {
        top: 70%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .mfp-arrow {
        top: 75%;
    }
}

@media (min-width: 992px) {
    // override bootstrap element
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .sponsor-box {
        height: 100vh;
    }
    .white-bx {
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.coming-soon {
    cursor: pointer;
    text-align: center;
}