<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left" style="padding:0">
                &copy 2019 Virasat-E-Punjabi. All rights reserved.
            </div>
            <div class="col-sm-6 text-right" style="padding:0">
                Created by
                <a href="https://www.creativewebo.com/" target="_blank" style="color:#88cc00;">Creative<span style="color:#1ab2ff;">Webo</span>
                </a>
            </div>
        </div>
    </div>
</footer>

<div class="querySec">
    <a href="javascript:;" class="queryName">Have a Query?</a>
    <form action="post" class="query-form cm-mT15">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="name" class="form-control bs-input" placeholder="Enter Your Name">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="number" class="form-control bs-input" placeholder="Enter Your Number">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <textarea class="form-control bs-input" name="message" rows="10" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-default bs-btn query-btn">Send</button>
                    <img src="assets/images/loader.gif" alt="loader icon" class="loader">
                </div>
            </div>
            <div class="col-md-12 text-center contact-error text-success">Thank you for your comments..</div>
        </div>

    </form>
</div>