<header class="bs-header">
    <!-- <div class="menuContainer"></div> -->
    <!-- <button class="menu-toggle"></button> -->
    <div class="collapse-button">
        <div class="collapse-button1"></div>
    </div>
    <nav>
        <ul class="menu">
            <li data-id="#home" data-text="Home">Home</li>
          
            <li data-id="#about-us" data-text="About The Festival">About The Festival</li>
           
         
            <li data-id="#photo-gallary" data-text="Photo Gallary">Photo Gallary</li>
           
            <li data-id="#volunteer" data-text="Volunteer">Volunteer</li>
            <li data-id="#venue-details" data-text="Venue Details">Venue Details</li>
            <li data-id="#donations" data-text="Donations">Donations</li>
            <li data-id="#about-jep" data-text="About Jashn-e-Punjabi">About Jashn-e-Punjabi</li>
            <li data-id="#who-we-are" data-text="Who We Are">Who We Are</li>
        </ul>
    </nav>
</header>