<script type="text/javascript" src="assets/js/vendor.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>
<script type="text/x-paperscript" src="assets/js/main-home-waves.js" data-paper-canvas="waves-canvas"></script>